In [1]:
#Dependancies
import pandas as pd
import matplotlib.pyplot as plt
from us import states
import requests

from census import Census
from Config import (census_key)

In [2]:
### Import CDC Data

cdc_data=pd.read_csv('flupneumo.csv')

cdc_data = cdc_data.loc[cdc_data['geoid'] == "State"]

cdc_data.head()

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,State,NaN,New Hampshire,All,2017-18,201805,NaN,NaN,28,286,9.790210,143.277643
1,State,NaN,New York City,All,2015-16,201629,NaN,NaN,64,972,6.584362,97.618498
2,State,NaN,Missouri,All,2009-10,201020,NaN,NaN,84,984,8.536585,93.231242
4,State,NaN,Kansas,All,2017-18,201820,NaN,NaN,19,496,3.830645,105.194581
5,State,NaN,Georgia,All,2009-10,201032,NaN,NaN,89,"1,283",6.936867,94.671638

In [4]:
### Import Census Data
c = Census(census_key, year=2017)
census_data = c.acs5.get(("B19013_001E", "B01003_001E"), {'for': 'state:*'})
#census_data = c.acs5.state(('NAME', 'B25034_010E'), :)
#census_data = requests.get(Census)
#census_data.head()
census_pd = pd.DataFrame(census_data)
census_pd

    B19013_001E  B01003_001E state
0       19775.0    3468963.0    72
1       46472.0    4850771.0    01
2       76114.0     738565.0    02
3       53510.0    6809946.0    04
4       43813.0    2977944.0    05
5       67169.0   38982847.0    06
6       65458.0    5436519.0    08
7       73781.0    3594478.0    09
8       77649.0     672391.0    11
9       63036.0     943732.0    10
10      50883.0   20278447.0    12
11      52977.0   10201635.0    13
12      74923.0    1421658.0    15
13      50985.0    1657375.0    16
14      61229.0   12854526.0    17
15      52182.0    6614418.0    18
16      56570.0    3118102.0    19
17      55477.0    2903820.0    20
18      46535.0    4424376.0    21
19      53024.0    1330158.0    23
20      46710.0    4663461.0    22
21      74167.0    6789319.0    25
22      78916.0    5996079.0    24
23      52668.0    9925568.0    26
24      65699.0    5490726.0    27
25      42009.0    2986220.0    28
26      51542.0    6075300.0    29
27      50801.0    1029862.0    30
28      56675.0    1893921.0    31
29      71305.0    1331848.0    33
30      55434.0    2887725.0    32
31      76475.0    8960161.0    34
32      46718.0    2084828.0    35
33      62765.0   19798228.0    36
34      50320.0   10052564.0    37
35      61285.0     745475.0    38
36      52407.0   11609756.0    39
37      49767.0    3896251.0    40
38      56119.0    4025127.0    41
39      56951.0   12790505.0    42
40      61043.0    1056138.0    44
41      48781.0    4893444.0    45
42      54126.0     855444.0    46
43      48708.0    6597381.0    47
44      57051.0   27419612.0    48
45      65325.0    2993941.0    49
46      57808.0     624636.0    50
47      68766.0    8365952.0    51
48      44061.0    1836843.0    54
49      66174.0    7169967.0    53
50      60938.0     583200.0    56
51      56759.0    5763217.0    55

In [ ]:
print(states.NY.fips)

In [ ]:
### Question 1 - Which flu season had the most deaths

In [ ]:
### Question 2 - Which states have the highest rate of death by flu and influenza

In [ ]:
### Question 3 - Compare death rate to population by state

In [ ]:
### Question 4 - Compare death rate to average household income by state